@font-face {
  font-family: 'Clear Sans';
  font-weight: 400;
  font-style: normal;
  src: url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_0_0.eot');
  src: url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_0_0.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_0_0.woff')
      format('woff'),
    url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_0_0.ttf')
      format('truetype'),
    url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_0_0.svg#wf')
      format('svg');
}
@font-face {
  font-family: 'Clear Sans';
  font-weight: 700;
  font-style: normal;
  src: url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_5_0.eot');
  src: url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_5_0.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_5_0.woff')
      format('woff'),
    url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_5_0.ttf')
      format('truetype'),
    url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_5_0.svg#wf')
      format('svg');
}
@font-face {
  font-family: 'Clear Sans';
  font-weight: 500;
  font-style: normal;
  src: url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_1_0.eot');
  src: url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_1_0.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_1_0.woff')
      format('woff'),
    url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_1_0.ttf')
      format('truetype'),
    url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_1_0.svg#wf')
      format('svg');
}
@font-face {
  font-family: 'Clear Sans';
  font-weight: 100;
  font-style: normal;
  src: url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_2_0.eot');
  src: url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_2_0.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_2_0.woff')
      format('woff'),
    url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_2_0.ttf')
      format('truetype'),
    url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_2_0.svg#wf')
      format('svg');
}
