@font-face {
  font-family: 'Clear Sans';
  font-weight: 400;
  font-style: normal;
  src: local('Clear Sans'),
    url('../fonts/clear-sans-book.woff2') format('woff2');
}
@font-face {
  font-family: 'Clear Sans';
  font-weight: 700;
  font-style: normal;
  src: local('Clear Sans'),
    url('../fonts/clear-sans-bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Clear Sans';
  font-weight: 100;
  font-style: normal;
  src: local('Clear Sans'),
    url('../fonts/clear-sans-extrathin.woff2') format('woff2');
}
