.footer {
  &__love {
    &:after {
      animation: cursor 1s infinite;
      content: " |";
      opacity: 0;

      @apply text-discreet-shade dark:text-discreet-primary font-bold right-0;
    }

    @keyframes cursor {
      0% {
        opacity: 0;
      }
      40% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      90% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
