@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  // headings
  .text-h1 {
    @apply relative text-3xl text-dark-950 dark:text-dark-50 mb-7 font-normal;

    &::before {
      content: '';

      @apply h-1 w-14 absolute -left-2 -bottom-1.5 bg-secondary/80 dark:bg-primary/60 rounded-full;
    }
  }
  .text-h2 {
    @apply text-2xl text-dark-950 dark:text-dark-50 mb-2 font-normal;
  }
  .text-h3 {
    @apply text-lg text-dark-950 dark:text-dark-50 mb-2 font-normal;
  }

  // links
  a {
    @apply text-dark-950 dark:text-dark-50 font-bold hover:text-secondary hover:dark:text-primary transition-colors;

    &.inline-link {
      @apply hover:underline hover:underline-offset-4;
    }
  }
}

@layer components {
  // header
  .blurred-container {
    @apply relative border border-neutral-200/50 dark:border-dark-700/50 rounded-xl;

    &::before {
      @apply bg-neutral-100/50 dark:bg-dark-800/50 backdrop-blur-lg saturate-150 absolute top-0 left-0 w-full h-full block rounded-lg;

      content: "";
      z-index: -1;
    }
  }
  // navigation
  .navigation-item {
    @apply relative sm:hover:bg-secondary/60 sm:hover:dark:bg-primary/20 hover:text-dark-50 dark:hover:text-dark-50;

    &--active::before {
      content: '';

      @apply w-1 h-6 absolute top-3 left-1.5 bg-secondary/80 dark:bg-primary/60 rounded-full;
    }
  }
  .menu-button:hover {
    .menu-button__bar:nth-child(1):not(.menu-button__bar--rotated) {
      @apply left-3 w-3;
    }
  }
  .menu-button__bar {
    @apply absolute h-0.5 rounded-md transition-all duration-300 bg-dark-800 dark:bg-dark-50;

    &:nth-child(1) {
      @apply top-3 w-4 left-2;
    }
    &:nth-child(2) {
      @apply top-4 w-4 left-2;
    }
    &:nth-child(3) {
      @apply top-5 w-3 left-3;
    }

    &--rotated {
      &:nth-child(1) {
        transform: translate(0,0.25rem) rotate(-45deg);
      }
      &:nth-child(2) {
        @apply w-0 left-6 opacity-0;
      }
      &:nth-child(3) {
        transform: translate(0, -0.25rem) rotate(45deg);

        @apply w-4 left-2;
      }
    }
  }

  // list
  ul.bullet-list {
    li {
      @apply relative ml-5;

      &::before {
        content: '';
        height: 1px;
        left: -1.05rem;
        top: 0.7em;
        width: 0.42rem;

        @apply absolute bg-secondary/80 dark:bg-primary;
      }
    }
  }

  // history item
  .history-item__date {
    position: relative;

    @media (min-width: 640px) {
      padding-left: 1.5rem;

      &::before {
        content: '';
        height: 1px;
        left: 0.54rem;
        top: 0.7em;
        width: 0.42rem;

        @apply absolute bg-secondary/80 dark:bg-primary;
      }
    }
  }

  // footer
  .footer__love {
    &::after {
      animation: cursor 1s infinite;
      content: ' |';
      opacity: 0;

      @apply text-secondary dark:text-primary font-bold right-0;
    }

    @keyframes cursor {
      0%,
      40%,
      100% {
        opacity: 0;
      }
      50%,
      90% {
        opacity: 1;
      }
    }
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
