@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'footer';
@import 'components/history-item';
@import 'components/lists';

@layer base {
  .text-h1 {
    position: relative;

    @apply text-3xl text-dark-950 dark:text-dark-50 mb-7 font-normal;

    &::before {
      position: absolute;
      content: '';
      left: -0.5rem;
      bottom: -0.375rem;
      width: 3.5rem;
      height: 4px;
      
      @apply bg-primary-300 rounded-full;
    }
  }

  .text-h2 {
    @apply text-2xl text-dark-950 dark:text-dark-50 mb-2 font-normal;
  }
  .text-h3 {
    @apply text-lg text-dark-950 dark:text-dark-50 mb-2 font-normal;
  }

  a {
    @apply text-dark-950 dark:text-dark-50 font-bold hover:text-primary-500 hover:dark:text-primary-500 transition-colors;

    &.inline-link {
      @apply hover:underline hover:underline-offset-4;
    }
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
