@use "tailwindcss";

// @custom-variant dark (&:where(.dark, .dark *));

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --primary: #006ea0;
  --background: #fff;
  --background-blurred: #e5e5e5;
  --foreground: #111;
}

@theme inline {
  --color-primary-dark: #00a5db;
  --color-primary-light: #006ea0;
  --color-primary: var(--primary);

  --color-background: var(--background);
  --color-background-blurred: var(--background-blurred);
  --color-foreground: var(--foreground);

  --color-warning-200: #ffc971;
  --color-warning-300: #ffb627;
  --color-warning-500: #ff9505;
  --color-warning-700: #e2711d;
  --color-warning-800: #cc5803;

  --color-squash-red: #f96b72;
  --color-squash-green: #02af79;

  --color-contrast-50: #fff; // light background
  --color-contrast-100: #f2f3f5;
  --color-contrast-200: #e5e5e5; // light header blur border
  --color-contrast-300: #ccc;
  --color-contrast-500: #818181;
  --color-contrast-700: #4d4d4d;
  --color-contrast-800: #262626; // dark header blur border
  --color-contrast-900: #161616; // dark background
  --color-contrast-950: #111; // text color

  --color-coffee-light: #6f4e37;
  --color-coffee-dark: #896044;

  --color-medalmonday-primary: #2e5d4e;
  --color-medalmonday-light: #698e80;
  --color-medalmonday-dark: #1e332b;

  --color-js: #ffe70b;
  --color-node: #026e00;
  --color-react: #149eca;
  --color-vue: #42d392;

  --color-snes-a: #e60012;
  --color-snes-b: #ffe100;
  --color-snes-x: #00a7eb;
  --color-snes-y: #6eb92b;

  --color-social-github: #24292e;
  --color-social-instagram: #fb3958;
  --color-social-linkedin: #0077b5;
  --color-social-xing: #0698a0;

  --font-sans: var(--font-clear-sans);
}

[data-theme="dark"] {
  :root {
    --primary: #00a5db;
    --background: #161616;
    --background-blurred: #262626;

    // text-contrast-950 dark:text-contrast-200
    // bg-contrast-50 dark:bg-contrast-950
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  // font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  .text-h1,
  .text-h2,
  .text-h3,
  a {
    @apply text-contrast-950 dark:text-contrast-50;
  }
  // headings
  .text-h1,
  .text-h2,
  .text-h3 {
    @apply font-normal;
  }
  .text-h1 {
    @apply relative text-3xl mb-7;

    &::before {
      content: '';

      @apply h-1 w-14 absolute -left-2 -bottom-1.5 bg-primary-light/80 dark:bg-primary-dark/60 rounded-full;
    }
  }
  .text-h2 {
    @apply text-2xl mb-2;
  }
  .text-h3 {
    @apply text-lg mb-2;
  }

  // links
  a {
    @apply font-bold hover:text-primary transition-colors;

    &.inline-link {
      @apply hover:underline hover:underline-offset-4;
    }
  }

  // scroll offset
  article {
    @apply scroll-m-[4.625rem] md:scroll-m-[5.625rem];
  }
  section {
    @apply scroll-m-[4.125rem];
  }
}

accessCode=531-476-938 locale=en-US clickNum=756589394882120

@layer components {
  // header
  .blurred-container {
    @apply relative border border-contrast-200/50 dark:border-contrast-800/80 rounded-xl;

    &::before {
      @apply bg-background-blurred/50 dark:bg-background-blurred/65 backdrop-blur-lg absolute top-0 left-0 w-full h-full block rounded-[11px];

      content: "";
      z-index: -1;
    }
  }
  // navigation
  .navigation {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    &.navigation--open {
      max-height: 50rem;
      transition: max-height 0.3s ease-in;

      .navigation-item {
        & > span,
        & > svg {
          opacity: 1;
        }
      }
    }
  }
  .navigation-item {
    @apply relative hover:bg-primary-light/15 hover:dark:bg-primary-dark/20 hover:text-contrast-950 dark:hover:text-contrast-50;

    & > span,
    & > svg {
      opacity: 0;
      transition: opacity 0.5s linear;
    }

    &--active::before {
      @apply w-1 h-6 absolute top-3 left-1.5 bg-primary-light/80 dark:bg-primary-dark/60 rounded-full;

      content: '';
    }
  }
  .menu-button,
  .menu-button__bar {
    @apply transition-all duration-300;
  }
  .menu-button {
    @apply hover:bg-contrast-200/80 hover:dark:bg-contrast-800/80 dark:text-contrast-50;

    &:hover {
      .menu-button__bar:nth-child(1):not(.menu-button__bar--rotated) {
        @apply left-3 w-3;
      }
    }
  }
  .menu-button__bar {
    @apply absolute h-0.5 rounded-md bg-contrast-800 dark:bg-contrast-50;

    &:nth-child(1) {
      @apply top-3 w-4 left-2;
    }
    &:nth-child(2) {
      @apply top-4 w-4 left-2;
    }
    &:nth-child(3) {
      @apply top-5 w-3 left-3;
    }

    &--rotated {
      &:nth-child(1) {
        transform: translate(0,0.25rem) rotate(-45deg);
      }
      &:nth-child(2) {
        @apply w-0 left-6 opacity-0;
      }
      &:nth-child(3) {
        transform: translate(0, -0.25rem) rotate(45deg);

        @apply w-4 left-2;
      }
    }
  }

  // list
  ul.bullet-list {
    li {
      @apply relative ml-5;

      &::before {
        content: '';
        height: 1px;
        left: -1.05rem;
        top: 0.7em;
        width: 0.42rem;

        @apply absolute bg-primary-light/80 dark:bg-primary-dark;
      }
    }
  }

  // history item
  .history-item__date {
    position: relative;

    @media (min-width: 640px) {
      padding-left: 1.5rem;

      &::before {
        content: '';
        height: 1px;
        left: 0.54rem;
        top: 0.7em;
        width: 0.42rem;

        @apply absolute bg-primary-light/80 dark:bg-primary-dark;
      }
    }
  }

  // footer
  .footer__love {
    &::after {
      animation: cursor 1s infinite;
      content: ' |';
      opacity: 0;

      @apply text-primary-light dark:text-primary-dark font-bold right-0;
    }

    @keyframes cursor {
      0%,
      40%,
      100% {
        opacity: 0;
      }
      50%,
      90% {
        opacity: 1;
      }
    }
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
