.header {
  // @apply flex flex-wrap justify-between bg-dark-50/80 dark:bg-dark-800/80 backdrop-blur-sm z-30 px-4 sm:px-10 md:px-20 border-b-2 border-b-dark-200 dark:border-b-dark-800 lg:border-b-0;
  // sticky top-0 pt-4 lg:pt-10 flex flex-wrap lg:flex-nowrap lg:flex-col gap-4 lg:gap-10 justify-between lg:justify-start lg:text-right bg-dark-50/80 dark:bg-dark-800/80 backdrop-blur-sm z-30 lg:h-screen lg:flex-none lg:w-80 px-4 sm:px-10 md:px-20 lg:px-4 border-b-2 border-b-dark-300 dark:border-b-dark-700 lg:border-b-0

  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 1rem;
  justify-content: flex-start;
  padding: 1rem 1rem 0;
  position: sticky;
  top: 0;

  @screen lg {
    flex-direction: column;
    gap: 2.5rem;
    padding-top: 2.5rem;
    text-align: right;
    width: 38ch;
  }

  // @apply flex flex-wrap lg:flex-nowrap lg:flex-col justify-between lg:justify-start bg-dark-50/80 dark:bg-dark-800/80 backdrop-blur-sm z-30 lg:flex-none lg:w-80 px-4 sm:px-10 md:px-20 lg:px-4 border-b-2 border-b-dark-200 dark:border-b-dark-800 lg:border-b-0;

  &__title {
    // @apply flex flex-shrink-0 flex-nowrap gap-4 items-center lg:justify-end;
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    gap: 1rem;

    a {
      // @apply hover:bg-transparent dark:hover:bg-transparent;
    }
  }

  &__image {
    border-radius: 100rem;
    border: 2px solid #ccc;
    width: 3rem;

    // @apply rounded-full border-2 border-slate-300;
  }

  &__slogan {
    // @apply hidden lg:block text-sm;
    display: none;
    font-size: 0.875rem;

    @screen lg {
      display: block;
    }
  }
}
