.career-item {
  &__dates {
    position: relative;

    @media (min-width: 640px) {
      padding-left: 1.5rem;

      &::before {
        content: '';
        height: 1px;
        left: 0.54rem;
        position: absolute;
        top: 0.55em;
        width: 0.42rem;

        @apply bg-slate-700 dark:bg-slate-300;
      }
    }
  }
}
