ul.bullet-list {
  li {
    @apply relative ml-5;

    &::before {
      content: '';
      height: 1px;
      left: -1.05rem;
      position: absolute;
      top: 0.7em;
      width: 0.42rem;

      @apply bg-slate-700 dark:bg-slate-300;
    }
  }
}
